
.title-head2{
	font-family: 'Notable', sans-serif;
	font-weight: 600;
	letter-spacing: 3px;
}

.divfooter{
   height: 100px;
}

footer{
 position: relative;
 left: 0;
 bottom: 0;
 width: 100%;
}
.masthead {
    background-size: cover;
    min-height: 90vh;
    position: relative;
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
h3{
	padding-left:1%;
	font-family: 'Codystar', cursive;
}
h1 {
    font-size: 3rem;
}

.color-overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    .masthead {
        min-height: 50vh;
    }
    h3 {
        font-size: calc(1.525rem + 3.3vw);
    }
}