@import "adorno";
main{
    background-color:rgb(255, 253, 249);
    div{
        padding-top: 2%;
    }
    p{
        font-family: 'Damion', cursive;
        font-size: medium;
    }
}

.espaciado{
    padding-bottom: 50px;
}